{% extends 'base.html.twig' %}

{% block title %}Delete{% endblock %}


{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
    </style>

    <div class="wrapper">
        <h1>Votre commerce a bien été mis à jour !</h1>
       
    </div>
{% endblock %}